<<<<<<< HEAD
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
=======
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
>>>>>>> 37c3a73d1697ffdcb84b31076eaa0caf98170ba1
}