<<<<<<< HEAD
/* link */

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--color-brand);
  }
}
=======
/* link */

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--color-brand);
  }
}
>>>>>>> 37c3a73d1697ffdcb84b31076eaa0caf98170ba1
